doctype=html
html
    head 
        title #{title}
        script(type='text/JavaScript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' integrity='sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css' integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65' crossorigin='anonymous')
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4", crossorigin="anonymous")
    body 
        .container.p-5
            div(style="display:flex; justify-content:end")
                div.showAll.px-2 Total#: #{clientNum}
                div.showIssue.px-2(style='display:none') Total#: #{errorClientNum}
                .form-check.form-switch
                    input#flexSwitchCheckDefault.form-check-input(type='checkbox' role='switch' checked='true')
                    label.form-check-label(for='flexSwitchCheckDefault') 
                    div.showIssue(style='display:none') Show All
                    div.showAll Show Issue
                
            table.table.table-bordered
                thead.table-light
                    tr
                        th clientURL
                        th#statusFilter.all clientstatus
                tbody.showAll
                    for item in data
                        if item.status
                            tr.table-success
                                td #{item.url}
                                td
                                    i.fa-solid.fa-circle-check
                        else
                            tr.table-danger
                                td #{item.url}
                                td
                                    i.fa-solid.fa-circle-xmark
                tbody.showIssue(style='display:none')
                    for item in data
                        if !item.status
                            tr.table-danger
                                td #{item.url}
                                td
                                    i.fa-solid.fa-circle-xmark

        script. 
            $('#flexSwitchCheckDefault').change(function(e){
                if(e.target.checked){
                    $('.showAll').show();
                    $('.showIssue').hide();
                }else{
                    $('.showAll').hide();
                    $('.showIssue').show();
                }
            })